body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #cee2f7;
}
#Projects {
  background-color: #cee2f7;
}
footer {
  background-color: #1f7a8c;
}
section {
  padding-top: 5rem;
}
